<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>父子组件关系</title>
</head>
<body>
<!--
        在两种情况下，我们很容易忍不住想去修改 prop 中数据：
        Prop 作为初始值传入后，子组件想把它当作局部数据来用；
        Prop 作为原始数据传入，由子组件处理成其它数据输出。
        对这两种情况，正确的应对方式是：
        定义一个局部变量，并用 prop 的值初始化它：
        props: ['initialCounter'],
        data: function () {
          return { counter: this.initialCounter }
        }
        定义一个计算属性，处理 prop 的值并返回：
        props: ['size'],
        computed: {
          normalizedSize: function () {
            return this.size.trim().toLowerCase()
          }
        }
-->
<div id="app">
    <component1 :message="parentMessage"></component1>
    <component2 :message="parentMessage"></component2>
    <component3 v-bind="todo" testNoProp = 'true'></component3>
</div>
<!--<script src="../../resource/vue.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.3.0/vue.js"></script>
<script> // 你可以用引入的js文件来处理当前的组件
let component1 = {
  props: ['message'],
  template: `<input v-model="message"></input>`, //直接修改就会抛出异常信息
  data: function () {
    return {counter: this.message}
  }
}
/*template: `<input v-model="counter"></input>`,*/
let component2 = {
  props: ['message'],
  template: `<input v-model="counter"></input>`, //把传递进来的值 (不是引用) 存储在内部的一个控件中
  data: function () {
    return {counter: this.message}
  }
}
let component3 = {
  /*props: ['message'],*/  //指定prop对象来校验数据类型 类似于typescript语法
  props: {
    // 基础类型检测 (`null` 指允许任何类型)
    //parentMessage: Number, 应当使用String类型 但是却检测了Number类型 所以报错
    parentMessage: String,
    // 可能是多种类型
    /*parentMessage2: [String, Number],*/
    parentMessage2: null,
    // 必传且是字符串
    parentMessage3: {
      type: null,
      /*required: true*/
    }
  },
  template: `<input v-model= 'computedData'></input>`, //直接修改就会抛出异常信息
  data: function () {
    return { counter: this.parentMessage }
  },
  computed: {
    computedData: function () {
      return this.parentMessage
    }
  }

}
</script>
<script>
  let vm = new Vue({
    el: '#app',
    components: {
      'component1': component1,
      'component2': component2,
      'component3': component3
    },
    data: {
      'parentMessage': '我是root级别的父类组件',
      'parentMessage2': '我是root级别的父类组件',
      'parentMessage3': '我是root级别的父类组件',
      todo:{
        'parentMessage': '12321',
        'parentMessage2': '我是root级别的父类组件',
        'parentMessage3': '我是root级别的父类组件'
      }
    }
  })
</script>
</body>
</html>