* {
    box-sizing: border-box;
}

#formEditor {
    width: 100%;
    position: absolute;
    top: 35px;
    margin: 0 auto;
    bottom: 0px;
    display: block;
}

#titleEditor {
    border: 1px solid #74bff5;
    margin-bottom: 15px;
    padding: 10px;
}

#bodyEditor {
    color: #333;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.guide-title {
    font-size: 24px;
    color: #000000;
    padding: 8px 0;
    font-family: 'Microsoft Yahei';
}

.layer-info {
    padding: 0 10px 10px;
}

.m-t {
    margin-top: 12px;
}

.autoSizeInput {
    cursor: auto ;
    padding: 0 5px;
    margin: 0px auto;
    min-height: 30px;
    border: 1px solid #dcdfe6;
    border-radius:4px;
    width: 100%;
    height: 80%
}
 /*定义最小的文本框高度*/
.textareaInfo {
    margin: 0 auto;
    padding: 0 5px;
    width: 100%;
    min-height: 100px;
    height: 130px;
    border: 1px solid #dcdfe6;
    border-radius:4px;
}
.part-model{
    color: #333;
    border: 1px solid #ccc;
    margin-bottom: 0px;
}