<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"><head>
  <meta charset="UTF-8">
  <title>导航栏</title>
  <style>
    .nav {
      list-style-type: none;
    }
  </style>
</head>
<body>
<div id="app"><ul class="nav"><div id="1234"><li class="level-one"><a href="#1234">1 - name2</a></li> <li class="level-two">
  1.1 - child1
</li><li class="level-two">
  1.2 - child2
</li></div><div id="123"><li class="level-one"><a href="#123">2 - name1</a></li> </div></ul></div>
<div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
<span id="1234" name="1234">asdasddasdasdasasd</span>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
  var nav = new Vue({
    el: '#app',
    data: {
      list: [
        {
          id: '1234',
          title: 'name2',
          child: [{
            id: '1234',
            title: 'child1',
            child: []
          }, {
            id: '123',
            title: 'child2',
            child: []
          }]
        },
        {
          id: '123',
          title: 'name1',
          child: []
        }]
    }
  })
</script>

</body></html>