<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>导航栏</title>
	<style>
		.nav {
			list-style-type: none;
		}
	</style>
</head>
<body>
<div id="app">
	<ul class="nav">
		<div v-for="(value,index) in list">
			<li class="level-one">
				<a :href="'#'+value.id">{{index +1 }} - {{ value.title }}</a>
			</li>
			<li v-for="(childValue,childIndex) in value.child" class="level-two">
				{{index + 1}}.{{childIndex + 1}} - {{childValue.title}}
			</li>
		</div>
	</ul>
</div>
<div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
<span id="1234" name="1234">asdasddasdasdasasd</span>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
  var nav = new Vue({
    el: '#app',
    data: {
      list: [
        {
          id: '1234',
          title: 'name2',
          child: [{
            id: '2.1',
            title: 'child1',
            child: []
          }, {
            id: '2.2',
            title: 'child2',
            child: []
          }]
        },
        {
          id: '2',
          title: 'name1',
          child: []
        }]
    }
  })
</script>
</body>
</html>