/*输入框插件*/
.nfsm_textbox{
	outline-style: none;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	position: relative;
	z-index: 1;
}
.nfsm_text:focus + .nfsm_border{
	outline: #3083ff;
	border-color: #3083ff;
}
.nfsm_textbox > textarea{background: transparent;resize: none;border: none;outline: none;width: 100%;height: 100%;margin: 0;padding: 0;align-items: center; overflow: auto;}
.nfsm_textbox > input{background: transparent;resize: none;border: none;outline: none;width: 100%;height: 100%;margin: 0;padding: 0;align-items: center;}
.readonly{background: #f4f4f4!important;}
.nfsm_border{
	/* 尺寸永远和容器一样大，假装是容器 */
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: -1;
    border: 1px solid #d1d8d5;
}
.nfsm_textVerify{
	background-color: #fff3f3!important;
}
.ns_tooltip{
	border: 1px solid #cc9933;
	background-color: #ffffcc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: fixed;
	padding: 5px;
	box-sizing: border-box;
	z-index: 10000;
}
.ns_tooltip .tool_dir_left{
	background-color: #ffffcc;
	border-bottom: 1px solid #cc9933;
	border-left: 1px solid #cc9933;
	display: block;
	transform: rotate(45deg);
	position: absolute;
	height: 8px;
	width: 8px;
	left: -5px;
	top: 9px;
}
.ns_show{display: block!important;}
