
p,ul,li,h1,h2,h3,h4,h5,h6,table,tr,td,input,a,span,botton,html,body{
  margin:0px;
  padding:0px;
  list-style:none;
}
i,b,em{
    font-style: normal;
}
a{
    text-decoration: none;
    color:#000;
}
html,body{
    font-family: "΢���ź�";
    background: #f5f6f7;
    color:#444444;
    width:100%;
    height:100%;
   
}
.left{
    width:73%;
    float:left;
    height: 550px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size:14px;
    border:1px solid #e3e3e3
}
.content{
	height:506px;
	overflow:scroll;
}
.right{
    width:27%;
    float:right;
    height: 550px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:1px solid #d0d0d0;
    border-left:none;
    overflow:hidden;
    font-size:14px;
    position:relative;
}
.bottom{
    clear: both;
    width:100%;
    height:260px;
    background: #fff;
    font-size:14px;
}
.header{
    height: 40px;
    border-bottom:1px solid #d0d0d0;
    line-height: 40px;
}
.header a{
    display: inline-block;
    width:50px;
    height: 30px;
    border-right:1px solid #000;
    text-align: center;
    line-height: 30px;
    /* margin-top:10px; */
}
.header span{
    display: inline-block;
    height:22px;
    line-height: 22px;
}
.color{
    float:left;
    width:50px;
    height: 20px;
    
    margin:0 20px;
}
.color1{
    background: #d0d0d0;
}
.color2{
    background: #e17474;
}
.color3{
    background: #6aca85;
}
.color4{
    background: #0ba9c3;
}
.top{
		position:absolute;top:0;left:0;right:0;
    height: 40px;
    border-bottom:1px solid #d0d0d0;
    line-height: 40px;
    text-align: center;    
}
.fp-table{position:absolute;top: 45px;
    bottom: 0;
    left: 10px;
    right: 10px;}
.fp-table>tr{display:flex;flex-direction: row}
.fp-table>tr td:nth-child(2){flex:1;}
#message{
		width:100%;
	 	height: 100%
    font-size:13px;
}
#message tr{
    height:30px;
}
#message tr td:nth-child(1){
    text-align: right;
    width: 70px;
    min-width:70px;
    flex:0;
}
#message tr td:nth-child(2){
    min-width:180px;
}
#message tr td:nth-child(2) div{
   height:26px;
   line-height: 26px;
   margin-left:20px;
   border:1px solid #d0d0d0;
   text-align: center;
    text-overflow: ellipsis;
    overflow: auto;
  
}
#set,#flow{
    width:170px;
    height: 30px;
    border:1px solid #d0d0d0;
}
#preinstall,#manage{
    width:170px;
    height: 170px;
    border:1px solid #d0d0d0;
}
.bottom header{
	position: relative;
    height: 40px;
}

.bottom .datagrid-wrap{
	border:1px solid #e3e3e3
}
.bottom a{
    display: block;
    width: 147px;
    text-align: center;
    line-height: 30px;
   	background: linear-gradient(rgb(255, 255, 255) 0px, rgb(238, 238, 238) 100%) repeat-x;
    border: 1px solid #909090;
    height: 35px;
    float: left;
    cursor: pointer;
}
.bottom a:hover{color:blue}
.bottom a:nth-child(1){
   	margin-top: -1px !important;border-radius: 0 0 5px 5px;border-color: #e3e3e3;}
.bottom a:nth-child(2){
	margin-left: 10px;
    margin-top: 5px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    border-color: #e3e3e3;
}
.aLink{display: inline-block;float: right;margin-right: 10px;color: blue;text-decoration: underline;cursor: pointer;}

#details{
    width:100%;
    text-align: center;
}
#details th,tr{
    height: 40px;
    border-bottom:1px solid #d0d0d0;
}
#details button{
    margin: 5px;
    padding: 5px;
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    color: #444;
    border: 1px solid #333;
}
#details button:hover{
    background-color: rgb(39, 119, 212);
}
#linkMsg p{
    height:30px;
    line-height:30px;
    margin-left: 10px;
    bottom:5px;
}
#linkMsg p span{
    float:right;
    width:20px;
    height:20px;
    margin-top:5px;
    margin-right:5px;
    line-height: 20px;
    text-align: center;
}
#linkMsg p span:hover{
    background-color: skyblue;
    color:#fff;
}
#linkDefinitionName,#linkDefinitionStart,#linkDefinitionClaim,#linkDefinitionEnd,#linkDefinitionManager{
	overflow-y:scroll;
}
#linkDefinitionMater,#linkDefinitionRMater{
	height:100px !important;
	overflow-y:scroll;
}