<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css开始</title>
    <style media="screen">
        p{
            background-color: silver;
        }
    </style>
</head>
<body>
<!-- 此时书写 不规范-->
<!--<style media="screen"></style>-->
<p>lordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordassssssssssssssssssssssssssssslordasssssssssssssssssssssssssssss</p>
</body>
</html>